#menu
{

    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: gray;     
    overflow-x: hidden;
    padding: 40px;
    
}
a {
    color: rgb(0, 0, 0);
    background-color: gray;
    display: block;
    width: 100%;
    padding: 10px;

    margin-left: 0;
    margin-bottom: -18px; 
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 65, 65);
}

a:active {
    text-decoration: none;
}
#page{
    text-align:center   
}
.lotto-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
}
#lotto-image {
    width: 100%;
    border-radius: 50%; /* Kör alakú kép */
}